.back-button {
    text-decoration: none;
    box-shadow: rgba(255, 255, 255, 1) 0px 7px 29px 0px;
    padding: .4rem 1rem;
    background-color: black;
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 32px;
    transition: all .2s ease-out;
}

.back-button:hover {
    background-color: lighten($color: black, $amount: 30%);
}