<center-layout bg="url('assets/frontend-mentor-4/images/pattern-background-desktop.svg')" [className]="{'bg-image': true}">
    <div class="container">
        <img src="assets/frontend-mentor-4/images/illustration-hero.svg" alt="">
        <div class="description-container">
            <h2>Order Summary</h2>
            <p class="description">You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>
            <div class="plan-container">
                <img src="assets/frontend-mentor-4/images/icon-music.svg" alt="">
                <div class="plan">
                    <h5>Annual Plan</h5>
                    <p>$59.99/year</p>
                </div>
                <a href="#">change</a>
            </div>
            <button class="payment-button">Proceed to Payment</button>
            <button class="cancel-button">Cancel Order</button>
        </div>
    </div>
</center-layout>