<center-layout bg="#f3eae3">
    <div class="container">

        <div class="image-container">
            <img class="desktop" src="assets/frontend-mentor-2/images/image-product-desktop.jpg" alt="Perfume image" />
            <img class="mobile" src="assets/frontend-mentor-2/images/image-product-mobile.jpg" alt="Perfume image" />

        </div>
        <div class="description-container">
            <p class="sub-header">PERFUME</p>
            <h1 class="header">Gabrielle Essence Eau De Parfum</h1>
            <p class="description">A floral, solar and voluptuous interpretation composed by Olivier-Polge,
                Perfumer-Creator for the house of CHANEL</p>
            <div class="price-container">
                <h1 class="price">$159.99</h1>
                <h5 class="price__former">$169.99</h5>
            </div>
            <button class="add-to-cart">
                <img src="../../../assets/frontend-mentor-2/images/icon-cart.svg" alt="">
                <span>
                    Add to Cart</span>
            </button>
        </div>
    </div>
</center-layout>