.center-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
}