/* You can add global styles to this file, and also import other style files */

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



@font-face {
    font-family: Noah;
    src: url(./assets/fonts/Noah-Grotesque-Regular.otf);
}

@font-face {
    font-family: Noah;
    font-weight: bolder;
    src: url(./assets/fonts/Noah-Grotesque-ExtraBold.otf);
}


@font-face {
    font-family: HankenGrotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: Grobek;
    font-weight: bold;
    src: url(./assets/fonts/Fontspring-DEMO-grobek-bold.otf);
}
@font-face {
    font-family: Grobek;
    src: url(./assets/fonts/Fontspring-DEMO-grobekalt-regular.otf);
}