<center-layout bg="#f0f0f0">
    <div class="container">

        <!-- Form Section -->
        <form class="form-container" [formGroup]="ValidateForm" (ngSubmit)="onSubmit()">
            <ng-container *ngFor="let item of dateValues" [ngTemplateOutlet]="input"
                [ngTemplateOutletContext]="{$implicit: item}" />
        </form>
        <!--/ Form Section -->

        <!-- Divider section -->
        <div class="divider">
            <button class="divider__arrow" (click)="onSubmit()">
                <img src="assets/age-calculator/images/icon-arrow.svg" alt="">
            </button>
        </div>
        <!--/ Divider section -->

        <!-- Data display section -->
        <div class="data-display">
            <ng-container [ngTemplateOutlet]="display"
                [ngTemplateOutletContext]="{$implicit: timeDifference.days, duration: 'day'}" />
            <ng-container [ngTemplateOutlet]="display"
                [ngTemplateOutletContext]="{$implicit: timeDifference.months, duration: 'month'}" />
            <ng-container [ngTemplateOutlet]="display"
                [ngTemplateOutletContext]="{$implicit: timeDifference.years, duration: 'year'}" />
        </div>
        <!--/ Data display section -->
    </div>
</center-layout>

<!-- Input component -->
<ng-template #input let-data [formGroup]="ValidateForm">
    <div class="input-container">
        <label for="{{data.label}}" class="input-label"
            [style]="{color: ValidateForm.controls[data.label].touched ? 'red' : ''}">{{data.label}}</label>
        <input type="number" placeholder="{{data.placeholder}}" id="{{data.label}}" [formControlName]="data.label">
        <p class="error" *ngIf="!ValidateForm.valid && ValidateForm.controls?.[data.label]?.touched">
            {{ValidateForm | errorMessage : data.label}}</p>
    </div>
</ng-template>
<!--/ Input component -->

<!-- Display Template -->
<ng-template #display let-data let-duration="duration">
    <h1><span>{{data ? data : '--'}}</span> {{data | multiple:duration}}</h1>
</ng-template>
<!--/ Display Template -->