<center-layout bg="#0d1a2d">
    <div class="container">
        <img class="hero-image" src="assets/frontend-mentor-3/images/image-equilibrium.jpg" alt="">
        <h3 class="nft-name">Equilibrium #3429</h3>
        <p class="nft-description">Our Equilibrium collection promotes balance and calm.</p>
        <div class="price-section">
            <h5>
                <img src="assets/frontend-mentor-3/images/icon-ethereum.svg" alt="">
                0.041 ETH
            </h5>
            <h5>
                <img src="assets/frontend-mentor-3/images/icon-clock.svg" alt="">
                3 days left
            </h5>
        </div>
        <div class="divider"></div>
        <p class="creator">
            <img class="avatar" src="assets/frontend-mentor-3/images/image-avatar.png" alt="">
            Creation of <span>Jules Wyvern</span>
        </p>
    </div>
</center-layout>